# Extended ITS Analysis

In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf

## Read Data

In [2]:
''' Read Data - Choose ONE of the following datasets '''

# Travel Distance per trip: LAD
# file = 'mobility indicators/daily_alltrips_duration_distance_GLAresidence_homearea_pertrip/mean_distance_lad_merge_result.csv'
# area_key = 'LAD22CD'
# use_col = 'GLA'

# Travel Distance per trip: MSOA
file = 'mobility indicators/daily_alltrips_duration_distance_GLAresidence_homearea_pertrip/mean_distance_msoa_merge_result.csv'
area_key = 'MSOA21CD'
use_col = 'GLA'

# Casual Activity Count: LAD
# file = 'mobility indicators/daily_count_casual_activities/merge_result_lad.csv'
# area_key = 'LAD22CD'
# use_col = 'activity_count'

# Casual Activity Count: MSOA
# file = 'mobility indicators/daily_count_casual_activities/merge_result_msoa.csv'
# area_key = 'MSOA21CD'
# use_col = 'activity_count'

# Commuting Duration per capita: LAD
# file = 'mobility indicators/daily_commuting_duration_distance/mean_duration_distance_lad_merge_result.csv'
# area_key = 'LAD22CD'
# use_col = 'duration_minutes'

# Commuting Duration per capita: MSOA
# file = 'mobility indicators/daily_commuting_duration_distance/mean_duration_distance_msoa_merge_result.csv'
# area_key = 'MSOA21CD'
# use_col = 'duration_minutes'

In [3]:
''' Read Data '''

data = pd.read_csv(file)
data.rename(columns={use_col: 'count'}, inplace=True)
folder_name = file.split('/')[1]

# Convert 'day' to datetime
data['day'] = pd.to_datetime(data['day'])

# select data before 2021-12-12, remove Christmas
data = data[data['day'] < ('2021-12-12')]
data = data.groupby(['day', area_key]).agg({'count': 'mean'}).reset_index()

# Create a binary indicator for the intervention (1 if on or after Oct 25, 2021, else 0)
intervention_date = pd.to_datetime('2021-10-25')
data['intervention'] = (data['day'] >= intervention_date).astype(int)

# Create time variables (number of hours since the start of the dataset)
data['time1'] = (data['day'] - data['day'].min()).dt.total_seconds() / (60 * 60 * 24)
data['time2'] = (data['day'] - intervention_date).dt.total_seconds() / (60 * 60 * 24)
data.loc[data['time2'] < 0, 'time2'] = 0

# Create Day of Week (dow) categorical variable
data['dow'] = data['day'].dt.dayofweek
day_of_week_dummies = pd.get_dummies(data['dow'], prefix='dow', drop_first=True).astype(int)
data = pd.concat([data, day_of_week_dummies], axis=1)
data.drop(columns=['dow'], inplace=True)

data

,day,MSOA21CD,count,intervention,time1,time2,dow_1,dow_2,dow_3,dow_4,dow_5,dow_6
0,2021-10-01,E02000001,4217.592031,0,0.0,0.0,0,0,0,1,0,0
1,2021-10-01,E02000002,3052.038883,0,0.0,0.0,0,0,0,1,0,0
2,2021-10-01,E02000003,4271.400031,0,0.0,0.0,0,0,0,1,0,0
3,2021-10-01,E02000004,3316.678252,0,0.0,0.0,0,0,0,1,0,0
4,2021-10-01,E02000005,2820.681639,0,0.0,0.0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
72139,2021-12-11,E02007111,3825.484783,1,71.0,47.0,0,0,0,0,1,0
72140,2021-12-11,E02007112,3952.935414,1,71.0,47.0,0,0,0,0,1,0
72141,2021-12-11,E02007113,4513.575395,1,71.0,47.0,0,0,0,0,1,0
72142,2021-12-11,E02007114,4052.152848,1,71.0,47.0,0,0,0,0,1,0
72143,2021-12-11,E02007115,4169.025593,1,71.0,47.0,0,0,0,0,1,0

In [4]:
# remove outliers: City of London

''' LAD '''
# data = data[data['LAD22CD'] != 'E09000001']
# data

''' MSOA '''
data = data[data['MSOA21CD'] != 'E02000001']
data

,day,MSOA21CD,count,intervention,time1,time2,dow_1,dow_2,dow_3,dow_4,dow_5,dow_6
1,2021-10-01,E02000002,3052.038883,0,0.0,0.0,0,0,0,1,0,0
2,2021-10-01,E02000003,4271.400031,0,0.0,0.0,0,0,0,1,0,0
3,2021-10-01,E02000004,3316.678252,0,0.0,0.0,0,0,0,1,0,0
4,2021-10-01,E02000005,2820.681639,0,0.0,0.0,0,0,0,1,0,0
5,2021-10-01,E02000007,2999.628000,0,0.0,0.0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
72139,2021-12-11,E02007111,3825.484783,1,71.0,47.0,0,0,0,0,1,0
72140,2021-12-11,E02007112,3952.935414,1,71.0,47.0,0,0,0,0,1,0
72141,2021-12-11,E02007113,4513.575395,1,71.0,47.0,0,0,0,0,1,0
72142,2021-12-11,E02007114,4052.152848,1,71.0,47.0,0,0,0,0,1,0
72143,2021-12-11,E02007115,4169.025593,1,71.0,47.0,0,0,0,0,1,0

In [5]:
# Read Census Data

''' LAD level '''
"""
# rden: residence density, TS0006
rden = pd.read_csv('Census Data/census2021-ts006-ltla.csv').iloc[:, 2:]
rden.columns = ['LAD22CD', 'Rden']
data = data.merge(rden, on='LAD22CD', how='left')

# age: average age, TS0007
# age = pd.read_csv('Census Data/census2021-ts007-ltla.csv')

# Sfem: Share of femal, TS0008
sfem = pd.read_csv('Census Data/census2021-ts008-ltla.csv').iloc[:, 2:]
sfem['Sfem'] = sfem['Sex: Female; measures: Value'] / sfem['Sex: All persons; measures: Value']
sfem = sfem[['geography code', 'Sfem']]
sfem.columns = ['LAD22CD', 'Sfem']
data = data.merge(sfem, on='LAD22CD', how='left')

# Hedu: Higher education, TS0067
hedu = pd.read_csv('Census Data/census2021-ts067-ltla.csv')
hedu['Hedu'] = hedu['Highest level of qualification: Level 4 qualifications and above'] / hedu['Highest level of qualification: Total: All usual residents aged 16 years and over']
hedu = hedu[['geography code', 'Hedu']]
hedu.columns = ['LAD22CD', 'Hedu']
data = data.merge(hedu, on='LAD22CD', how='left')

# Scar: Share of car ownership, TS0045
scar = pd.read_csv('Census Data/census2021-ts045-ltla.csv').iloc[:, 2:]
scar['Scar'] = (scar['Number of cars or vans: Total: All households'] - scar['Number of cars or vans: No cars or vans in household']) / scar['Number of cars or vans: Total: All households']
scar = scar[['geography code', 'Scar']]
scar.columns = ['LAD22CD', 'Scar']
data = data.merge(scar, on='LAD22CD', how='left')

# DistWork: Distance to work, TS0058
# distwork = pd.read_csv('Census Data/census2021-ts058-ltla.csv').iloc[:, 2:]

# CarWork: Share of car to work, TS0061
carwork = pd.read_csv('Census Data/census2021-ts061-ltla.csv').iloc[:, 2:]
carwork['CarWork'] = carwork['Method of travel to workplace: Driving a car or van'] / carwork['Method of travel to workplace: Total: All usual residents aged 16 years and over in employment the week before the census']
carwork = carwork[['geography code', 'CarWork']]
carwork.columns = ['LAD22CD', 'CarWork']
data = data.merge(carwork, on='LAD22CD', how='left')

# Swfh: Share of working from home, TS0061
swfh = pd.read_csv('Census Data/census2021-ts061-ltla.csv').iloc[:, 2:]
swfh['Swfh'] = swfh['Method of travel to workplace: Work mainly at or from home'] / swfh['Method of travel to workplace: Total: All usual residents aged 16 years and over in employment the week before the census']
swfh = swfh[['geography code', 'Swfh']]
swfh.columns = ['LAD22CD', 'Swfh']
data = data.merge(swfh, on='LAD22CD', how='left')

# Income: GDHI
gdhi = pd.read_csv('Census Data/income_GDHI2021_LondonLAD.csv', usecols=['mnemonic', 'GDHI per head index (UK = 100)'])
gdhi.columns = ['LAD22CD', 'Income']
data = data.merge(gdhi, on='LAD22CD', how='left')

# PTAL: Public Transport Accessibility Level
ptal = pd.read_csv('PTAL/LAD2022 AvPTAI2015.csv')
ptal.columns = ['LAD22CD', 'PTAL']
data = data.merge(ptal, on='LAD22CD', how='left')

social_vars = ['Rden', 'Sfem', 'Hedu', 'Scar', 'CarWork', 'Swfh', 'Income', 'PTAL']
"""


''' MSOA level '''
# """
# rden: residence density, TS0006
rden = pd.read_csv('Census Data/census2021-ts006-msoa.csv').iloc[:, 2:]
rden.columns = ['MSOA21CD', 'Rden']
data = data.merge(rden, on='MSOA21CD', how='left')

# age: average age, TS0007
# age = pd.read_csv('Census Data/census2021-ts007-msoa.csv')

# Sfem: Share of femal, TS0008
sfem = pd.read_csv('Census Data/census2021-ts008-msoa.csv').iloc[:, 2:]
sfem['Sfem'] = sfem['Sex: Female; measures: Value'] / sfem['Sex: All persons; measures: Value']
sfem = sfem[['geography code', 'Sfem']]
sfem.columns = ['MSOA21CD', 'Sfem']
data = data.merge(sfem, on='MSOA21CD', how='left')

# Hedu: Higher education, TS0067
hedu = pd.read_csv('Census Data/census2021-ts067-msoa.csv')
hedu['Hedu'] = hedu['Highest level of qualification: Level 4 qualifications and above'] / hedu['Highest level of qualification: Total: All usual residents aged 16 years and over']
hedu = hedu[['geography code', 'Hedu']]
hedu.columns = ['MSOA21CD', 'Hedu']
data = data.merge(hedu, on='MSOA21CD', how='left')

# Scar: Share of car ownership, TS0045
scar = pd.read_csv('Census Data/census2021-ts045-msoa.csv').iloc[:, 2:]
scar['Scar'] = (scar['Number of cars or vans: Total: All households'] - scar['Number of cars or vans: No cars or vans in household']) / scar['Number of cars or vans: Total: All households']
scar = scar[['geography code', 'Scar']]
scar.columns = ['MSOA21CD', 'Scar']
data = data.merge(scar, on='MSOA21CD', how='left')

# DistWork: Distance to work, TS0058
# distwork = pd.read_csv('Census Data/census2021-ts058-msoa.csv').iloc[:, 2:]

# CarWork: Share of car to work, TS0061
carwork = pd.read_csv('Census Data/census2021-ts061-msoa.csv').iloc[:, 2:]
carwork['CarWork'] = carwork['Method of travel to workplace: Driving a car or van'] / carwork['Method of travel to workplace: Total: All usual residents aged 16 years and over in employment the week before the census']
carwork = carwork[['geography code', 'CarWork']]
carwork.columns = ['MSOA21CD', 'CarWork']
data = data.merge(carwork, on='MSOA21CD', how='left')

# Swfh: Share of working from home, TS0061
swfh = pd.read_csv('Census Data/census2021-ts061-msoa.csv').iloc[:, 2:]
swfh['Swfh'] = swfh['Method of travel to workplace: Work mainly at or from home'] / swfh['Method of travel to workplace: Total: All usual residents aged 16 years and over in employment the week before the census']
swfh = swfh[['geography code', 'Swfh']]
swfh.columns = ['MSOA21CD', 'Swfh']
data = data.merge(swfh, on='MSOA21CD', how='left')

# PTAL: Public Transport Accessibility Level
ptal = pd.read_csv('PTAL/MSOA2021 AvPTAI2015.csv')
ptal.columns = ['MSOA21CD', 'PTAI']
data = data.merge(ptal, on='MSOA21CD', how='left')

social_vars = ['Rden', 'Sfem', 'Hedu', 'Scar', 'CarWork', 'Swfh', 'PTAI']
# """

''' centering '''
for var in social_vars:
    data[f'{var}_centered'] = data[var] - data[var].mean()

# fillna
data.fillna(0, inplace=True)

data

,day,MSOA21CD,count,intervention,time1,time2,dow_1,dow_2,dow_3,dow_4,...,CarWork,Swfh,PTAI,Rden_centered,Sfem_centered,Hedu_centered,Scar_centered,CarWork_centered,Swfh_centered,PTAI_centered
0,2021-10-01,E02000002,3052.038883,0,0.0,0.0,0,0,0,1,...,0.390364,0.209389,3.731210,-5060.063237,0.011241,-0.158924,0.090805,0.179302,-0.207410,-9.819832
1,2021-10-01,E02000003,4271.400031,0,0.0,0.0,0,0,0,1,...,0.320351,0.255059,7.723008,-3501.363237,-0.010048,-0.127878,0.115125,0.109289,-0.161740,-5.828034
2,2021-10-01,E02000004,3316.678252,0,0.0,0.0,0,0,0,1,...,0.391779,0.250803,4.164166,-6227.463237,-0.004362,-0.160598,0.173672,0.180717,-0.165996,-9.386876
3,2021-10-01,E02000005,2820.681639,0,0.0,0.0,0,0,0,1,...,0.355821,0.220485,6.134339,436.436763,-0.002964,-0.130190,0.129228,0.144758,-0.196314,-7.416703
4,2021-10-01,E02000007,2999.628000,0,0.0,0.0,0,0,0,1,...,0.344803,0.186798,5.266994,-3036.663237,0.011161,-0.150993,0.035123,0.133741,-0.230001,-8.284047
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72067,2021-12-11,E02007111,3825.484783,1,71.0,47.0,0,0,0,0,...,0.034812,0.629448,42.214395,312.236763,-0.020970,0.209927,-0.401807,-0.176251,0.212649,28.663354
72068,2021-12-11,E02007112,3952.935414,1,71.0,47.0,0,0,0,0,...,0.049000,0.681750,12.478780,6226.936763,-0.044609,0.236516,-0.360011,-0.162062,0.264951,-1.072262
72069,2021-12-11,E02007113,4513.575395,1,71.0,47.0,0,0,0,0,...,0.065438,0.596544,15.832084,1811.836763,-0.032327,0.157646,-0.295962,-0.145625,0.179745,2.281042
72070,2021-12-11,E02007114,4052.152848,1,71.0,47.0,0,0,0,0,...,0.072718,0.568014,13.968328,8507.736763,-0.019406,0.111075,-0.274435,-0.138344,0.151215,0.417286
72071,2021-12-11,E02007115,4169.025593,1,71.0,47.0,0,0,0,0,...,0.064570,0.457033,67.752144,8445.836763,0.007276,-0.032883,-0.381509,-0.146492,0.040234,54.201102

In [6]:
# Read time series data: fuel price
# This data was excluded from final analysis due to multicollinearity.

''' Fuel weekly data '''
weekly_data = pd.read_csv('fuel price/weekly_fuel.csv')
weekly_data['Date'] = pd.to_datetime(weekly_data['Date'], format='%m/%d/%y')

# convert to daily data
daily_data = pd.DataFrame({
    'Date': pd.date_range(start='2021-09-27', end='2021-12-11', freq='D'),
    'fuel_price': 0  # 示例变量
})
daily_data = daily_data.merge(
    weekly_data.rename(columns={'Date': 'Weekly_Date'}),
    how='left',
    left_on='Date',
    right_on='Weekly_Date'
)
daily_data['fuel_price'] = daily_data['ULSP'].ffill()
daily_data = daily_data.drop(columns=['Weekly_Date', 'ULSP'])

data = data.merge(daily_data, left_on='day', right_on='Date', how='left')
data.drop(columns=['Date'], inplace=True)
data

,day,MSOA21CD,count,intervention,time1,time2,dow_1,dow_2,dow_3,dow_4,...,Swfh,PTAI,Rden_centered,Sfem_centered,Hedu_centered,Scar_centered,CarWork_centered,Swfh_centered,PTAI_centered,fuel_price
0,2021-10-01,E02000002,3052.038883,0,0.0,0.0,0,0,0,1,...,0.209389,3.731210,-5060.063237,0.011241,-0.158924,0.090805,0.179302,-0.207410,-9.819832,135.19
1,2021-10-01,E02000003,4271.400031,0,0.0,0.0,0,0,0,1,...,0.255059,7.723008,-3501.363237,-0.010048,-0.127878,0.115125,0.109289,-0.161740,-5.828034,135.19
2,2021-10-01,E02000004,3316.678252,0,0.0,0.0,0,0,0,1,...,0.250803,4.164166,-6227.463237,-0.004362,-0.160598,0.173672,0.180717,-0.165996,-9.386876,135.19
3,2021-10-01,E02000005,2820.681639,0,0.0,0.0,0,0,0,1,...,0.220485,6.134339,436.436763,-0.002964,-0.130190,0.129228,0.144758,-0.196314,-7.416703,135.19
4,2021-10-01,E02000007,2999.628000,0,0.0,0.0,0,0,0,1,...,0.186798,5.266994,-3036.663237,0.011161,-0.150993,0.035123,0.133741,-0.230001,-8.284047,135.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72067,2021-12-11,E02007111,3825.484783,1,71.0,47.0,0,0,0,0,...,0.629448,42.214395,312.236763,-0.020970,0.209927,-0.401807,-0.176251,0.212649,28.663354,146.89
72068,2021-12-11,E02007112,3952.935414,1,71.0,47.0,0,0,0,0,...,0.681750,12.478780,6226.936763,-0.044609,0.236516,-0.360011,-0.162062,0.264951,-1.072262,146.89
72069,2021-12-11,E02007113,4513.575395,1,71.0,47.0,0,0,0,0,...,0.596544,15.832084,1811.836763,-0.032327,0.157646,-0.295962,-0.145625,0.179745,2.281042,146.89
72070,2021-12-11,E02007114,4052.152848,1,71.0,47.0,0,0,0,0,...,0.568014,13.968328,8507.736763,-0.019406,0.111075,-0.274435,-0.138344,0.151215,0.417286,146.89
72071,2021-12-11,E02007115,4169.025593,1,71.0,47.0,0,0,0,0,...,0.457033,67.752144,8445.836763,0.007276,-0.032883,-0.381509,-0.146492,0.040234,54.201102,146.89

## Level 1 model: classic ITS

In [7]:
''' level 1: classic ITS (OLS model) '''
# create formula
level1_vars = ['intervention', 'time1', 'time2'] + [f'dow_{i}' for i in range(1, 7)]
formula = 'count ~ ' + ' + '.join(level1_vars)

# fit the model
md = smf.ols(formula, data)
mdf = md.fit()
print(mdf.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  count   R-squared:                       0.037
Model:                            OLS   Adj. R-squared:                  0.037
Method:                 Least Squares   F-statistic:                     308.3
Date:                Sun, 02 Mar 2025   Prob (F-statistic):               0.00
Time:                        19:38:57   Log-Likelihood:            -5.7083e+05
No. Observations:               72072   AIC:                         1.142e+06
Df Residuals:                   72062   BIC:                         1.142e+06
Df Model:                           9
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept     3435.3953     10.268    334.558      0.000    3415.269    3455.521
intervention   106.6954     10.762      9.914      0.000      85.602     127.789
time1            5.5469      0.623      8.906      0.000       4.326       6.768
time2           -9.8366      0.660    -14.899      0.000     -11.131      -8.543
dow_1            8.0691      9.418      0.857      0.392     -10.389      26.528
dow_2           -2.5144      9.427     -0.267      0.790     -20.991      15.962
dow_3           20.1159      9.443      2.130      0.033       1.609      38.623
dow_4         -115.3954      9.224    -12.511      0.000    -133.474     -97.317
dow_5          141.8657      9.238     15.357      0.000     123.759     159.972
dow_6          269.7940      9.452     28.543      0.000     251.268     288.320
==============================================================================
Omnibus:                     3126.664   Durbin-Watson:                   1.405
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             4310.247
Skew:                           0.432   Prob(JB):                         0.00
Kurtosis:                       3.830   Cond. No.                         353.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [8]:
''' level 1: classic ITS (OLS model) + fuel price '''
md = smf.ols(formula + ' + fuel_price', data)
mdf = md.fit()
print(mdf.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  count   R-squared:                       0.038
Model:                            OLS   Adj. R-squared:                  0.038
Method:                 Least Squares   F-statistic:                     287.8
Date:                Sun, 02 Mar 2025   Prob (F-statistic):               0.00
Time:                        19:38:57   Log-Likelihood:            -5.7078e+05
No. Observations:               72072   AIC:                         1.142e+06
Df Residuals:                   72061   BIC:                         1.142e+06
Df Model:                          10
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept     9293.5623    587.417     15.821      0.000    8142.227    1.04e+04
intervention   207.0287     14.726     14.059      0.000     178.166     235.891
time1           14.6932      1.108     13.258      0.000      12.521      16.865
time2          -13.3425      0.748    -17.848      0.000     -14.808     -11.877
dow_1            1.3770      9.435      0.146      0.884     -17.116      19.870
dow_2          -15.8986      9.516     -1.671      0.095     -34.549       2.752
dow_3            0.0397      9.648      0.004      0.997     -18.871      18.951
dow_4         -140.2092      9.547    -14.686      0.000    -158.922    -121.497
dow_5          110.1367      9.764     11.279      0.000      90.999     129.275
dow_6          236.2162     10.028     23.556      0.000     216.562     255.870
fuel_price     -43.2939      4.341     -9.974      0.000     -51.801     -34.786
==============================================================================
Omnibus:                     3074.221   Durbin-Watson:                   1.407
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             4241.638
Skew:                           0.426   Prob(JB):                         0.00
Kurtosis:                       3.828   Cond. No.                     3.51e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.51e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [9]:
''' level 1: classic ITS (Multilevel model) '''
# Multilevel Model (also known as linear mixed-effect model / multilevel linear regression)
md = smf.mixedlm(formula, data, groups=data[area_key])
mdf = md.fit(method=["lbfgs"])
print(mdf.summary())

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/statsmodels/regression/mixed_linear_model.py:1634: UserWarning: Random effects covariance is singular
  warnings.warn(msg)

             Mixed Linear Model Regression Results
================================================================
Model:              MixedLM   Dependent Variable:   count
No. Observations:   72072     Method:               REML
No. Groups:         1001      Scale:                230400.7973
Min. group size:    72        Log-Likelihood:       -549306.7284
Max. group size:    72        Converged:            Yes
Mean group size:    72.0
----------------------------------------------------------------
               Coef.    Std.Err.    z    P>|z|  [0.025   0.975]
----------------------------------------------------------------
Intercept      3435.395   16.370 209.857 0.000 3403.310 3467.480
intervention    106.695    7.756  13.757 0.000   91.494  121.897
time1             5.547    0.449  12.358 0.000    4.667    6.427
time2            -9.837    0.476 -20.674 0.000  -10.769   -8.904
dow_1             8.069    6.787   1.189 0.234   -5.233   21.372
dow_2            -2.514    6.794  -0.370 0.711  -15.830   10.801
dow_3            20.116    6.805   2.956 0.003    6.778   33.454
dow_4          -115.395    6.647 -17.360 0.000 -128.424 -102.367
dow_5           141.866    6.658  21.309 0.000  128.817  154.914
dow_6           269.794    6.812  39.606 0.000  256.443  283.145
Group Var    213430.642   20.329
================================================================

## Level 2 model: extended ITS

In [10]:
''' level 2.0: use IMD '''
# # create formula
# level1_vars = ['intervention', 'time1', 'time2'] + [f'dow_{i}' for i in range(1, 7)]
# level2_vars = ['IMD19_centered']
# formula = 'count ~ ' + ' + '.join(level1_vars) + ' + ' + ' + '.join(level2_vars)
# 
# # 对每个level 2变量，加入交互项
# for var in ['intervention', 'time2']:
#     for l2_var in level2_vars:
#         formula += f' + {var}:{l2_var}'
# 
# print('Formula:', formula, '\n')
# 
# # Multilevel Model (also known as linear mixed-effect model / multilevel linear regression)
# md = smf.mixedlm(formula, data, groups=data[area_key])
# mdf = md.fit(method=["lbfgs"])
# print(mdf.summary())
# 
# # Calculate R-squared
# y_true = data['count']
# y_pred = mdf.fittedvalues
# ss_res = np.sum((y_true - y_pred)**2)
# ss_tot = np.sum((y_true - np.mean(y_true))**2)
# r_squared = 1 - (ss_res / ss_tot)
# print(f"R-squared: {r_squared:.4f}")
# 
# # Calculate ICC
# random_effects_var = mdf.cov_re.iloc[0, 0]
# residual_var = mdf.scale
# icc = random_effects_var / (random_effects_var + residual_var)
# print(f"Intraclass Correlation Coefficient (ICC): {icc:.4f}")

' level 2.0: use IMD '

In [11]:
''' level 2.1: use Census '''
# create formula
level1_vars = ['intervention', 'time1', 'time2'] + [f'dow_{i}' for i in range(1, 7)]
level2_vars = [f'{var}_centered' for var in social_vars]  #+ ['fuel_price']
formula = 'count ~ ' + ' + '.join(level1_vars) + ' + ' + ' + '.join(level2_vars)

# 对每个level 2变量，加入交互项
for var in ['intervention', 'time2']:
    for l2_var in level2_vars:
        formula += f' + {var}:{l2_var}'

print('Formula:', formula, '\n')

# Multilevel Model (also known as linear mixed-effect model / multilevel linear regression)
md = smf.mixedlm(formula, data, groups=data[area_key])
mdf = md.fit(method=["lbfgs"])
print(mdf.summary())

# Calculate R-squared
y_true = data['count']
y_pred = mdf.fittedvalues
ss_res = np.sum((y_true - y_pred)**2)
ss_tot = np.sum((y_true - np.mean(y_true))**2)
r_squared = 1 - (ss_res / ss_tot)
print(f"R-squared: {r_squared:.4f}")

# Calculate ICC
random_effects_var = mdf.cov_re.iloc[0, 0]
residual_var = mdf.scale
icc = random_effects_var / (random_effects_var + residual_var)
print(f"Intraclass Correlation Coefficient (ICC): {icc:.4f}")

Formula: count ~ intervention + time1 + time2 + dow_1 + dow_2 + dow_3 + dow_4 + dow_5 + dow_6 + Rden_centered + Sfem_centered + Hedu_centered + Scar_centered + CarWork_centered + Swfh_centered + PTAI_centered + intervention:Rden_centered + intervention:Sfem_centered + intervention:Hedu_centered + intervention:Scar_centered + intervention:CarWork_centered + intervention:Swfh_centered + intervention:PTAI_centered + time2:Rden_centered + time2:Sfem_centered + time2:Hedu_centered + time2:Scar_centered + time2:CarWork_centered + time2:Swfh_centered + time2:PTAI_centered

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/statsmodels/regression/mixed_linear_model.py:1634: UserWarning: Random effects covariance is singular
  warnings.warn(msg)

                       Mixed Linear Model Regression Results
===================================================================================
Model:                     MixedLM         Dependent Variable:         count
No. Observations:          72072           Method:                     REML
No. Groups:                1001            Scale:                      230190.5334
Min. group size:           72              Log-Likelihood:             -549036.2075
Max. group size:           72              Converged:                  Yes
Mean group size:           72.0
-----------------------------------------------------------------------------------
                                Coef.    Std.Err.    z    P>|z|   [0.025    0.975]
-----------------------------------------------------------------------------------
Intercept                       3435.395   14.223 241.530 0.000  3407.518  3463.273
intervention                     106.695    7.752  13.763 0.000    91.501   121.890
time1                              5.547    0.449  12.364 0.000     4.668     6.426
time2                             -9.837    0.476 -20.683 0.000   -10.769    -8.904
dow_1                              8.069    6.784   1.189 0.234    -5.227    21.366
dow_2                             -2.514    6.791  -0.370 0.711   -15.824    10.795
dow_3                             20.116    6.802   2.957 0.003     6.784    33.448
dow_4                           -115.395    6.644 -17.368 0.000  -128.418  -102.373
dow_5                            141.866    6.655  21.318 0.000   128.823   154.909
dow_6                            269.794    6.809  39.624 0.000   256.449   283.139
Rden_centered                     -0.019    0.004  -4.834 0.000    -0.027    -0.012
Sfem_centered                  -4727.530  956.983  -4.940 0.000 -6603.182 -2851.879
Hedu_centered                   1368.601  316.692   4.322 0.000   747.895  1989.307
Scar_centered                    -43.822  206.109  -0.213 0.832  -447.788   360.145
CarWork_centered                1934.906  390.409   4.956 0.000  1169.718  2700.094
Swfh_centered                   -510.596  258.040  -1.979 0.048 -1016.345    -4.847
PTAI_centered                     -2.170    1.760  -1.233 0.217    -5.619     1.278
intervention:Rden_centered         0.004    0.002   2.395 0.017     0.001     0.007
intervention:Sfem_centered       323.799  405.059   0.799 0.424  -470.101  1117.700
intervention:Hedu_centered      -219.311  134.045  -1.636 0.102  -482.035    43.413
intervention:Scar_centered       113.089   87.239   1.296 0.195   -57.897   284.074
intervention:CarWork_centered     97.599  165.247   0.591 0.555  -226.280   421.477
intervention:Swfh_centered        99.153  109.220   0.908 0.364  -114.913   313.220
intervention:PTAI_centered         0.072    0.745   0.096 0.923    -1.388     1.531
time2:Rden_centered               -0.000    0.000  -1.525 0.127    -0.000     0.000
time2:Sfem_centered               -8.753   12.060  -0.726 0.468   -32.391    14.885
time2:Hedu_centered               -3.274    3.991  -0.820 0.412   -11.096     4.549
time2:Scar_centered                1.690    2.598   0.651 0.515    -3.401     6.781
time2:CarWork_centered           -14.052    4.920  -2.856 0.004   -23.696    -4.409
time2:Swfh_centered               -5.793    3.252  -1.781 0.075   -12.166     0.581
time2:PTAI_centered                0.025    0.022   1.120 0.263    -0.019     0.068
Group Var                     147739.785   14.214
===================================================================================

R-squared: 0.5072
Intraclass Correlation Coefficient (ICC): 0.3909

In [12]:
# mark significance
def add_stars(p_value):
    if p_value < 0.001:
        return "***"
    elif p_value < 0.01:
        return "**"
    elif p_value < 0.05:
        return "*"
    elif p_value < 0.1:
        return "."
    else:
        return ""

results_df = pd.DataFrame({
    'coef': mdf.params,
    'P>|z|': mdf.pvalues,
    '[0.025': mdf.conf_int()[0],
    '0.975]': mdf.conf_int()[1]
})

results_df['sig'] = results_df['P>|z|'].apply(add_stars)  # significance
results_df['coef'] = results_df['coef'].apply(lambda x: f"{x:.3f}") #+ results_df['sig']
results_df['P>|z|'] = results_df['P>|z|'].apply(lambda x: f"{x:.3f}")
results_df['[0.025'] = results_df['[0.025'].apply(lambda x: f"{x:.3f}"[:6])
results_df['0.975]'] = results_df['0.975]'].apply(lambda x: f"{x:.3f}"[:6])

results_df = results_df[[ 'coef','sig', 'P>|z|', '[0.025', '0.975]']]
results_df.to_csv('results/Travel Distance MSOA.csv')  # Travel Distance MSOA, Casual Activity Count MSOA, Commuting Duration MSOA
results_df

                                    coef  sig  P>|z|  [0.025  0.975]
Intercept                       3435.395  ***  0.000  3407.5  3463.2
intervention                     106.695  ***  0.000  91.501  121.89
time1                              5.547  ***  0.000   4.668   6.426
time2                             -9.837  ***  0.000  -10.76  -8.904
dow_1                              8.069       0.234  -5.227  21.366
dow_2                             -2.514       0.711  -15.82  10.795
dow_3                             20.116   **  0.003   6.784  33.448
dow_4                           -115.395  ***  0.000  -128.4  -102.3
dow_5                            141.866  ***  0.000  128.82  154.90
dow_6                            269.794  ***  0.000  256.44  283.13
Rden_centered                     -0.019  ***  0.000  -0.027  -0.012
Sfem_centered                  -4727.530  ***  0.000  -6603.  -2851.
Hedu_centered                   1368.601  ***  0.000  747.89  1989.3
Scar_centered                    -43.822       0.832  -447.7  360.14
CarWork_centered                1934.906  ***  0.000  1169.7  2700.0
Swfh_centered                   -510.596    *  0.048  -1016.  -4.847
PTAI_centered                     -2.170       0.217  -5.619   1.278
intervention:Rden_centered         0.004    *  0.017   0.001   0.007
intervention:Sfem_centered       323.799       0.424  -470.1  1117.7
intervention:Hedu_centered      -219.311       0.102  -482.0  43.413
intervention:Scar_centered       113.089       0.195  -57.89  284.07
intervention:CarWork_centered     97.599       0.555  -226.2  421.47
intervention:Swfh_centered        99.153       0.364  -114.9  313.22
intervention:PTAI_centered         0.072       0.923  -1.388   1.531
time2:Rden_centered               -0.000       0.127  -0.000   0.000
time2:Sfem_centered               -8.753       0.468  -32.39  14.885
time2:Hedu_centered               -3.274       0.412  -11.09   4.549
time2:Scar_centered                1.690       0.515  -3.401   6.781
time2:CarWork_centered           -14.052   **  0.004  -23.69  -4.409
time2:Swfh_centered               -5.793    .  0.075  -12.16   0.581
time2:PTAI_centered                0.025       0.263  -0.019   0.068
Group Var                          0.642  ***  0.000   0.584   0.700